{{define "header"}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LifeLog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {{ if .profile }}
      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
      <script src="/assets/javascripts/logout.js"></script>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/lifelog/new">行動登録</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/remarks/new">備考登録</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-logout" href="#">ログアウト</a>
          </li>
        </ul>
      </div>
    {{ end }}
  </div>
</nav>
{{end}}