<html>
    <head>
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="assets/javascripts/logout.js"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/hogan.js/3.0.2/hogan.min.js"></script>
        <script src="/assets/javascripts/schedulerjs/dist/scheduler.js"></script>
        <script src="/assets/javascripts/lifelog.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/javascripts/schedulerjs/dist/scheduler.css">
        <link rel="stylesheet" href="/assets/stylesheets/scheduler.css">
    </head>
    <div>
        <img class="avatar" src="{{ .profile.picture }}"/>
        <h2>Welcome {{ .profile.nickname }}</h2>
        <button class="btn-logout">logout</button>
    </div>
    <div class="container">
        <div id="scheduler"></div>
        <data id="js_schedulerjs_list" value={{ .schedulerjs_list }}></data>
    </div>
    <a href="{{ .lifelog_new_path }}">新規登録</a>
</html>