{{define "title"}}
    行動登録
{{end}}
{{define "content"}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script src="/assets/javascripts/lifelog_new.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">
    <div class="mb-3"></div>
    <div class="container">
        <form action="/lifelog/create" method="post">
            <div class="mb-3">
                <label class="form-label">タイトル</label>
                <input name="title" class="form-control" id="js_appointment_title">
            </div>
            <div class="mb-3">
                <label class="form-label">開始時刻</label>
                <input name="start" class="form-control" id="js_timepic_start" value={{ .start }}>
            </div>
            <div class="mb-3">
                <label class="form-label">終了時刻</label>
                <input name="end" class="form-control" id="js_timepic_end"  value={{ .end }}>
            </div>
            <div class="mb-3">
                <label class="form-label">分類</label>
                <select name="class" class="form-select" id="js_class_select" />
                    <option value="sleep">睡眠</option>
                    <option value="action">行動</option>
                    <option value="meal">食事</option>
                    <option value="bath">風呂</option>
                    <option value="other">その他</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">登録</button>
            <a href="/lifelog" class="btn btn-secondary" role="button">キャンセル</a>
        </form>
    </div>
{{end}}