{{define "title"}}
    Lifelog
{{end}}
{{define "content"}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/hogan.js/3.0.2/hogan.min.js"></script>
    <script src="/assets/javascripts/schedulerjs/dist/scheduler.js"></script>
    <script src="/assets/javascripts/lifelog.js"></script>

    <link rel="stylesheet" href="/assets/javascripts/schedulerjs/dist/scheduler.css">
    <link rel="stylesheet" href="/assets/stylesheets/scheduler.css">
    <link rel="stylesheet" href="/assets/stylesheets/lifelog.css">

    <div id="scheduler"></div>
    <data id="js_schedulerjs_list" value={{ .schedulerjs_list }}></data>
{{end}}